@using DMFProjectFinal.Models
@using DMFProjectFinal.Models.DTO
@using DMFProjectFinal.Controllers
@{
    ViewBag.Title = "Lessee List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var AM = ViewBag.GetAccess as AccessManager;
    int j = 0;
}
<style>
    .table td, .table th {
        font-size: 14px;
        border-top-width: 0;
        border-bottom: 1px solid;
        border-color: #ebedf2 !important;
        padding: 0 4px !important;
        height: 40px;
        vertical-align: middle !important;
    }
    label {
        display: contents !important;
    }
    .form-group label {
        white-space: break-spaces !important;
    }
</style>
<div class="card-header">
    <h4 class="card-title">Project Proposal Prepration</h4>
</div>
<div id="divform">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 text-left mb-1">
                <a href="#" class="btn btn-primary btn-round" onclick="ExportToExcel('xlsx')"><i class="fas fa-file-export"></i>Export To Excel</a>
            </div>
            <div class="col-md-6 text-right mb-1">
                @if (AM.CanInsert)
                {
                    <a class="btn btn-primary btn-round" href="@Url.Action("CreateProjectProposalPrepration", "ProjectWorkApproval")" id="addMonthlyRevenueReceive">Create<i class="fa fa-plus-circle"></i></a>
                }
            </div>
            <div class="col-md-12 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        @if (AM.CanView)
                        {
                            <div class="table-responsive mt-20">
                                @if (ViewBag.LstData != null)
                                {
                                    <table class="table center-aligned-table" id="tblData" style="width:100%">
                                        <thead class="table-dark">
                                            <tr class="text-dark">
                                                <th>क्र०सं०</th>
                                                <th>District</th>
                                                <th>Project Name</th>
                                                <th>Sector Name</th>
                                                <th>Prosposal No</th>
                                                <th>Proposal Date</th>
                                                <th>Proposal Copy</th>
                                                <th>Proposed By</th>
                                                <th>Tender No</th>
                                                <th>Tender Date</th>
                                                <th>Work Order No</th>
                                                <th>Work Order Date</th>
                                                @if (AM.CanUpdate || AM.CanDelete)
                                                {
                                                    <th>Action</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (DTO_ProjectProposalPrepration item in ViewBag.LstData)
                                            {
                                                j++;
                                                <tr>
                                                    <td>@j</td>
                                                    <td>@item.DistrictName</td>
                                                    <td>@item.ProjectName</td>
                                                    <td>@item.SectorName</td>
                                                    <td>@item.ProsposalNo</td>
                                                    <td>@(BusinessLogics.GetJSDateStr(item.ProposalDate))</td>
                                                    @if (String.IsNullOrEmpty(item.ProposalCopy))
                                                    {
                                                        <td></td>
                                                    }
                                                    else
                                                    {
                                                        <td><a href="@item.ProposalCopy" target="_blank"><i class="fa fa-file" aria-hidden="true"></i></a></td>
                                                    }
                                                    <td>@item.ProposedBy</td>
                                                    <td>@item.TenderNo</td>
                                                    <td>@BusinessLogics.GetJSDateStr(item.TenderDate)</td>
                                                    <td>@item.WorkOrderNo</td>
                                                    <td>@BusinessLogics.GetJSDateStr(item.WorkOrderDate)</td>
                                                    @if (AM.CanUpdate || AM.CanDelete)
                                                    {
                                                        <th>
                                                            @if (AM.CanUpdate)
                                                            {
                                                                <a href="/ProjectWorkApproval/EditProjectProposalPrepration?id=@CryptoEngine.Encrypt(item.ProjectPreparationID.ToString())" class="btn btn-small btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                            }
                                                            @if (AM.CanDelete)
                                                            {
                                                                <a href="/ProjectWorkApproval/DeleteProjectProposalPrepration" ref-id="@CryptoEngine.Encrypt(item.ProjectPreparationID.ToString())" class="btn btn-small btn-danger delete-recored"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                                            }
                                                        </th>
                                                    }
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <div class="form-group col-md-12  mb-3" style="text-align:center;">
                                        <span>No Record Found</span>
                                    </div>
                                }
                            </div>
                        }
                        <!--<table class="table center-aligned-table" id="tblData1" style="width:100%">
                            <thead class="table-dark">
                                <tr class="text-dark">
                                    <th>क्र०सं०</th>
                                    <th>District</th>
                                    <th>Project Name</th>
                                    <th>Sector Name</th>
                                    <th>Prosposal No</th>-->
                                    @*<th>Prosposal date</th>*@
                                    <!--@if (AM.CanUpdate || AM.CanDelete)
                                    {
                                        <th>Action</th>
                                    }
                                    @if (AM.CanUpdate || AM.CanDelete)
                                    {
                                        <th>Action</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblData').DataTable({
                lengthMenu: [[25, 50, -1], [25, 50, "All"]],
            });
        });
    </script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
    <script>
        function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('tblData');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || ('ProjectProposalPrepration.' + (type || 'xlsx')));
        }
    </script>

    @*<script>
        var i = 1;
        $(document).ready(function ($) {
            $('#tblData1').dataTable({
                "Processing": false,
                "ServerSide": true,
                "Responsive": true,
                "Searching": true,
                "lengthMenu": [[10, 25, 50, 100, 200, 300, 400, 500, 1000, -1], [10, 25, 50, 100, 200, 300, 400, 500, 1000, "All"]],
                "pageLength": 10,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },

                ],
                "ajax": {
                    "url": "/ProjectWorkApproval/GetProjectProposalPreprationList",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "columns": [
                    {
                        "render": function () {
                            return i++;
                        }
                    },
                    { "data": "DistrictName", "autowidth": true, "searchable": true },
                    { "data": "ProjectName", "autowidth": true, "searchable": true },
                    { "data": "SectorName", "autowidth": true, "searchable": true },
                    { "data": "ProsposalNo", "autowidth": true, "searchable": true },
                    //{
                    //    "data": "ProposalDate", "render": function (data) { return convertToDate(data); }},

                    //{
                    //    "render": function (data, type, JsonResultRow, meta) {
                    //        return '<img src="/Content/images/' + JsonResultRow.Profile_Pic + '" height="30" width="30" style="border-radius:50%">';
                    //    }
                    //},
                    {
                        "mRender": function (data, type, row) {
                          return ' <a href="/ProjectWorkApproval/EditProjectProposalPrepration/' + row.ProjectPreparationID +'" class="btn btn-info" ><i class="fa fa-pencil" aria-hidden="true"></i></a> ';
                        }
                    },
                    {
                        "mRender": function (data, type, row) {
                           
                            return ' <a href="/ProjectWorkApproval/DeleteProjectProposalPrepration/' + row.ProjectPreparationID +'" class="btn btn-danger" ><i class="fa fa-trash" aria-hidden="true"></i></a> ';
       
    }
},
//{
//    "mRender": function (data, type, row) {
//        return ' <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" onclick="Details(' + row.Id + ')">Details</a>';
//    }
//}
]
});
});
    </script>*@
}