@using DMFProjectFinal.Models
@using DMFProjectFinal.Models.DTO
@using DMFProjectFinal.Controllers
@{
    ViewBag.Title = "DistrictWiseProjectReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var AM = ViewBag.GetAccess as AccessManager;
    int j = 0;
    dfm_dbEntities db = new dfm_dbEntities();
}
<style>
    .modal-dialog {
        max-width: 95%;
    }
    @@media print {
    .modal {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        overflow: visible!important;
    }
        #divform {
            display: none;
        }
}
</style>
<!--modal start for display the projects sector type wise-->
<div class="modal zoomIn" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Sector Type Wise Project Report</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                @*<button onclick="return window.print()" class="btn btn-success">Print</button>*@
            </div>
            <div class="modal-body">


                <table class="table table-bordered table-striped">
                    <thead style="background-color: #083853;color:white">
                        <tr>
                            <th>District Name</th>
                            <th>Sector Type</th>
                            <th>Total Projects</th>

                        </tr>
                        </thead>
                    <tbody id="ProjectSectorType"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Send message</button>*@
            </div>
        </div>
    </div>
</div>

<!-- End modal 1 -->
<!--Modal 2 for  CollectionModalMineralName-->
<div class="modal zoomIn" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Sector Name Wise Project Report</h1>
                <!--<button onclick="return window.print()" class="btn btn-success">-->@*Print*@<!--</button>-->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <table class="table table-bordered table-striped">
                    <thead style="background-color: #083853;color:white">
                        <tr>
                            <th>District Name</th>
                            <th>Sector Type</th>
                            <th>Sector Name</th>
                            <th>Total Project</th>

                        </tr>
                        </thead>
                    <tbody id="ProjectSectorWise"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Send message</button>*@
            </div>
        </div>
    </div>
</div>
<!-- End modal 2 -->
<!--Modal 3 for  ProjectReport Sectorname-->
<div class="modal zoomIn" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Sector And Project Wise Report</h1>
                @*<button onclick="return window.print()" class="btn btn-success">Print</button>*@
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">


                <table class="table table-bordered table-striped">
                    <thead style="background-color: #083853;color:white">
                        <tr>
                            <th>District Name</th>
                            <th>Sector Type</th>
                            <th>Sector Name</th>
                            <th>Project Name</th>

                        </tr>
                        </thead>
                    <tbody id="ProjectWithSector"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Send message</button>*@
            </div>
        </div>
    </div>
</div>
<!-- End modal 3 -->
<div class="modal zoomIn" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">PROJECT DETAILS REPORT </h1>
                <button onclick="return window.print()" class="btn btn-success">Print</button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered  table-striped">
                    <tr><th colspan="6">PROJECT PROSPOSAL DETAILS</th></tr>
                    <tr>
                        <th>District Name</th>
                        <td id="DistrictName"></td>
                        <th>Project Name</th>
                        <td id="ProjectName"></td>
                        <th>Tehsil Name</th>
                        <td id="TehsilName"></td>
                    </tr>

                    <tr class="col-sm-4">
                        <th>Block Name</th>
                        <td id="BlockName"></td>
                        <th>Village Name</th>
                        <td id="VillageNameInEnglish"></td>
                        <th>Project No</th>
                        <td id="ProjectNo"></td>
                    </tr>

                    <tr class="col-sm-4">
                        <th>Sector Name</th>
                        <td id="SectorName"></td>
                        <th>Sector Type</th>
                        <td id="SectorType"></td>
                        <th>Latitude</th>
                        <td id="WorkLatitude"></td>
                    </tr>
                    <tr class="col-sm-4">
                        <th>Longitude</th>
                        <td id="WorkLongitude"></td>
                        <th>Agency Name</th>
                        <td id="AgencyName"></td>
                        <th>Sanctioned Amount</th>
                        <td id="SanctionedProjectCost"></td>
                    </tr>
                    <tr class="col-sm-4">
                        <th>Description</th>
                        <td id="ProjectDescription"></td>
                        <th>Prosposa lNo</th>
                        <td id="ProsposalNo"></td>
                        <th>Proposal Date</th>
                        <td id="ProposalDate"></td>
                    </tr>
                    <tr class="col-sm-4">
                        <th>Proposal Copy</th>
                        <td id="ProposalCopy"></td>
                        <th>Proposed By</th>
                        <td id="ProposedBy"></td>
                        <th>Project Cost</th>
                        <td id="ProjectCost"></td>
                    </tr>
                    <tr class="col-sm-4">
                        <th>GST</th>
                        <td id="GSTAndOthers"></td>
                        <th>Tender No</th>
                        <td id="TenderNo"></td>
                        <th>Tender Date</th>
                        <td id="TenderDate"></td>
                    </tr>
                    <tr class="col-sm-4">
                        <th>WorkOrder No</th>
                        <td id="WorkOrderNo"></td>
                        <th>WorkOrder Date</th>
                        <td id="WorkOrderDate"></td>
                        <th>WorkOrder Copy</th>
                        <td id="WorkOrderCopy"></td>
                    </tr>
                    <tr class="col-sm-4">
                        <th>Running Status</th>
                        <td id="RunningStatus" style="color:green;font-weight:bold"></td>
                        <th>Final Status</th>
                        <td id="FinalStatus" style="color:red;font-weight:bold"></td>
                        <th>Project Start Date</th>
                        <td id="ProjectStartDate"></td>

                    </tr>
                    <tr class="col-sm-4">
                        <th>Project Completion Date</th>
                        <td id="ProjectCompletionDate"></td>
                    </tr>
                </table><br />
                <!--table for management commette data -->
                <table class="table table-bordered  table-striped" id="MANAGEMENTTABLE" style="display:none">

                    <tr>
                        <th colspan="10">
                            MANAGEMENT COMMETTE MEETING  DETAILS
                        </th>
                    </tr>
                    <tr class="col-sm-6">
                        <th>Metting Date</th>
                        <td id="MettingDate"></td>
                        <th>Attendance date</th>
                        <td id="Attendancedate"></td>
                        <th>Meeting No</th>
                        <td id="MeetingNo"></td>
                        <th>Minutes of Meeting</th>
                        <td id="MinutesofMeeting"></td>
                        <th>MMeeting file</th>
                        <td id="MinutesofMeetingfile"></td>
                    </tr>

                    <tr class="col-sm-6">
                        <th>attendance file</th>
                        <td id="Memberattendancefile"></td>
                        <th>Approval letter</th>
                        <td id="Approvelletterfile"></td>
                        <th>Status</th>
                        <td id="Status" style="color:green;font-weight:bold"></td>
                        <th>Member list</th>
                        <td id="Memberlist"></td>
                        <th>Remark</th>
                        <td id="Remark"></td>
                    </tr>
                </table>
                <!--table for Governing Commete data-->
                <table class="table table-bordered  table-striped" id="Governingtable" style="display:none">
                    <tr>
                        <th  colspan="10">
                        GOVERNING COUNCIL MEETING  DETAILS
                        </th>
                    </tr>
                    <tr>
                        <th>Metting Date</th>
                        <td id="MettingDate1"></td>
                        <th>Attendance date</th>
                        <td id="Attendancedate1"></td>
                        <th>Meeting No</th>
                        <td id="MeetingNo1"></td>
                        <th>Minutes of Meeting</th>
                        <td id="MinutesofMeeting1"></td>
                        <th>Meeting file</th>
                        <td id="MinutesofMeetingfilee"></td>
                    </tr>

                    <tr>
                        <th>attendance file</th>
                        <td id="Memberattendancefilee"></td>
                        <th>Approval letter</th>
                        <td id="Approvelletterfilee"></td>
                        <th>Status</th>
                        <td id="Status1" style="color:green;font-weight:bold"></td>
                        <th>Member list</th>
                        <td id="Memberlist1"></td>
                        <th>Remark</th>
                        <td id="Remark1"></td>
                    </tr>
                </table>
                <table class="table table-bordered table-striped" style="display:none" id="tblMileStone">
                    <tr>
                        <th  colspan="7">
                           PROJECT MILESTONE DETAILS
                        </th>
                    </tr>
                    <tr>
                        <th>Installment Name</th>
                        <th>Milestone Value</th>
                        <th>Milestone(%)</th>
                        <th>Fund Released</th>
                        <th>PhProgress</th>
                        <th>Utilization</th>
                        <th>Inspection</th>
                    </tr>
                    <tbody id="tbodyMilestone"></tbody>
                </table>
                <table class="table table-bordered table-striped" style="display:none" id="tblFund">
                    <tr>
                        <th  colspan="7">
                           FUND RELEASE DETAILS
                        </th>
                    </tr>
                    <tr>
                        <th>Installment Name</th>
                        <th>Released Amount</th>
                        <th>Relaesed Date</th>
                        <th>FundRelease Copy</th>
                        <th>PhProgress</th>
                        <th>Utilization</th>
                        <th>Inspection</th>
                    </tr>
                    <tbody id="tbodyFund"></tbody>
                </table>
                <table class="table table-bordered table-striped" style="display:none" id="tblProgress">
                    <tr>
                        <th  colspan="10">
                          PHYSICAL PROGRESS DETAILS
                        </th>
                    </tr>
                    <tr>
                        <th>Installment Name</th>
                        <th>Spend Amount</th>
                        <th>Ph Date</th>
                        <th>Ph (%)</th>
                        <th>Ph Copy</th>
                        <th>Ph Images</th>
                        <th>Utilization</th>
                        <th>Inspection</th>
                        <th>Progress Status</th>
                        <th>Remark</th>
                    </tr>
                    <tbody id="tbodyProgress"></tbody>
                </table>
                <table class="table table-bordered table-striped" style="display:none" id="tblUtilizations">
                    <tr>
                        <th  colspan="6">
                           UTILIZATION DETAILS
                        </th>
                    </tr>
                    <tr>
                        <th>Installment Name</th>
                        <th>Utilization No</th>
                        <th>Utilization Date</th>
                        <th>Utilization Copy</th>
                        <th>Utilization (%)</th>
                        <th>Remarks</th>

                    </tr>
                    <tbody id="tbodyUtilizations"></tbody>
                </table>
                <table class="table table-bordered table-striped" style="display:none" id="tblInspections">
                    <tr>
                        <th  colspan="7">
                           INSPECTION DETAILS
                        </th>
                    </tr>
                    <tr>
                        <th>Installment Name</th>
                        <th>Inspection Date</th>
                        <th>Inspection Question</th>
                        <th>Inspection Answer</th>
                        <th>Inspection Copy</th>
                        <th>Inspection Images</th>
                        <th>Remarks</th>

                    </tr>
                    <tbody id="tbodyInspections"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End modal 4 -->

<div class="card-header">
    <h4 class="card-title">District and Sector Wise Project Report</h4>
</div>
<div id="divform">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 mb-30">
                <div class="card card-statistics h-100">
                    <div class="card-body">
                        
                        @if (AM.CanView)
                        {
                            <div class="table-responsive mt-20">
                                @if (ViewBag.Data != null)
                                {
                                    <table class="table center-aligned-table table-striped table-bordered" id="Tbl_ProjectCountReport" style="width:100%">
                                        <thead style="background-color: #083853;color:white">
                                            <tr class="">
                                                <th>क्र०सं०</th>
                                                <th>District</th>
                                                <th>Total Project</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{ int ProjectCOunt = 0;}
                                            @foreach (DTO_DistrictWiseProjectReport item in ViewBag.Data)
                                            {
                                                j++;
                                                <tr>
                                                    <td>@j</td>
                                                    <td><a href="#" style="color:blue" onclick="GetProjectsDistrictWise(@item.DistID)">@item.DistrictName</a></td>
                                                    <td>@item.Total_Project</td>
                                                </tr>
                                                ProjectCOunt +=Convert.ToInt32(@item.Total_Project);
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2" style="text-align:right">Total Project</th>
                                                <th>@ProjectCOunt</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                }
                                else
                                {
                                    <div class="form-group col-md-12  mb-3" style="text-align:center;">
                                        <span>No Record Found</span>
                                    </div>

                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Tbl_ProjectCountReport').DataTable({
                lengthMenu: [[25, 50, -1], [25, 50, "All"]],
            });
        });
    </script>
    <script>
        function GetProjectsDistrictWise(DistID) {
            debugger
            $.ajax({
                url: "/Report/SectorTypeWiseProjectReport?DistID=" + DistID,
                dataType: "json",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data.length > 0) {
                        var html = "";
                        html += "<tr>";
                        html += "<td rowspan='" + (data.length * 4) + "'>" + data[0].DistrictName + "</td>";
                        //html += "<td rowspan='" + (data.length * 4) + "'>" + data[0].MineralType + "</td>";
                        html += "</tr>";
                        for (var i = 0; i < data.length; i++) {
                            html += "<tr>";
                            //html += "<td>" + data[i].DistrictName + "</td>";
                            html += "<td><a style='color:blue;cursor:pointer' onclick='GetProjectSectorNameWise(" + data[i].DistID + "," + data[i].SectorTypeId + ")'>" + data[i].SectorType + "</a></td>";
                            html += "<td>" + data[i].Total_Project + "</td>";
                            html += "</tr>";
                        }
                        //$("#exampleModal").show();
                        $("#exampleModal").modal('show');
                        $("#ProjectSectorType").html(html);
                    }
                    else {
                        $("#exampleModal").modal('show');
                        $("#ProjectSectorType").html('');
                    }
                }
            })
        }
    </script>
    <script>
        function GetProjectSectorNameWise(DistID, SectorTypeId) {
            debugger
            $.ajax({
                url: "/Report/SectorNameWiseProjectReport?DistID=" + DistID + "&&SectorTypeId=" + SectorTypeId,
                dataType: "json",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data.length > 0) {
                        var html = "";
                        html += "<tr>";
                        html += "<td rowspan='" + (data.length * 4) + "'>" + data[0].DistrictName + "</td>";
                        html += "<td rowspan='" + (data.length * 4) + "'>" + data[0].SectorType + "</td>";
                        html += "</tr>";
                        for (var i = 0; i < data.length; i++) {
                            html += "<tr>";
                            //html += "<td>" + data[i].DistrictName + "</td>";
                            //html += "<td>" + data[i].SectorType + "</td>";
                            html += "<td><a style='color:blue;cursor:pointer' onclick='GetSectorAndProjectReport(" + data[i].DistID + "," + data[i].SectorTypeId + "," + data[i].SectorID + ")'>" + data[i].SectorName + "</a></td>";
                            html += "<td>" + data[i].Total_Project + "</td>";
                            html += "</tr>";
                        }
                        //$("#exampleModal").show();
                        $("#exampleModal1").modal('show');
                        $("#ProjectSectorWise").html(html);
                    }
                    else {
                        $("#exampleModal1").modal('show');
                        $("#ProjectSectorWise").html('');
                    }
                }
            })
        }
    </script>
    <script>
        function GetSectorAndProjectReport(DistID, SectorTypeId, SectorID) {
            debugger
            $.ajax({
                url: "/Report/SectorAndProjectReport?DistID=" + DistID + "&&SectorTypeId=" + SectorTypeId + "&&SectorID=" + SectorID,
                dataType: "json",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data.length > 0) {
                        var html = "";
                        html += "<tr>";
                        html += "<td rowspan='" + (data.length * 4) + "'>" + data[0].DistrictName + "</td>";
                        html += "<td rowspan='" + (data.length * 4) + "'>" + data[0].SectorType + "</td>";
                        html += "<td rowspan='" + (data.length * 4) + "'>" + data[0].SectorName + "</td>";
                        html += "</tr>";
                        for (var i = 0; i < data.length; i++) {
                            html += "<tr>";
                            //html += "<td>" + data[i].DistrictName + "</td>";
                            //html += "<td>" + data[i].SectorType + "</td>";
                            //html += "<td>" + data[i].SectorName + "</td>";
                            html += "<td><a style='color:blue;cursor:pointer' onclick='ProjectDetailsReport(" + data[i].DistID + "," + data[i].SectorTypeId + "," + data[i].SectorID + "," + data[i].ProjectPreparationID + ")'>" + data[i].ProjectName + "</a></td>";
                            html += "</tr>";
                        }
                        //$("#exampleModal").show();
                        $("#exampleModal2").modal('show');
                        $("#ProjectWithSector").html(html);
                    }
                    else {
                        $("#exampleModal2").modal('show');
                        $("#ProjectWithSector").html('');
                    }
                }
            })
        }
    </script>
    <script>
        function ProjectDetailsReport(DistID, SectorTypeId, SectorID, ProjectPreparationID) {
            debugger
            $.ajax({
                url: "/Report/ProjectWiseReport?DistID=" + DistID + "&&SectorTypeId=" + SectorTypeId + "&&SectorID=" + SectorID + "&&ProjectPreparationID=" + ProjectPreparationID,
                dataType: "json",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    if (data.length > 0) {

                        //*****************Data of The Project Details-*************//
                        var ProposalDate = new Date(parseInt(data[0].ProposalDate.substr(6)));
                        var TenderDate = new Date(parseInt(data[0].TenderDate.substr(6)));
                        var WorkOrderDate = new Date(parseInt(data[0].WorkOrderDate.substr(6)));
                        var ProjectStartDate = new Date(parseInt(data[0].ProjectStartDate.substr(6)));
                        var ProjectCompletionDate = new Date(parseInt(data[0].ProjectCompletionDate.substr(6)));
                        $("#DistrictName").html(data[0].DistrictName);
                        $("#ProjectName").html(data[0].ProjectName);
                        $("#TehsilName").html(data[0].TehsilName);
                        $("#BlockName").html(data[0].BlockName);
                        $("#VillageNameInEnglish").html(data[0].VillageNameInEnglish);
                        $("#ProjectNo").html(data[0].ProjectNo);
                        $("#SectorType").html(data[0].SectorType);
                        $("#SectorName").html(data[0].SectorName);
                        $("#WorkLatitude").html(data[0].WorkLatitude);
                        $("#WorkLongitude").html(data[0].WorkLongitude);
                        $("#AgencyName").html(data[0].AgencyName);
                        $("#SanctionedProjectCost").html(data[0].SanctionedProjectCost);
                        $("#ProjectDescription").html(data[0].ProjectDescription);
                        $("#ProsposalNo").html(data[0].ProsposalNo);
                        $("#ProposalDate").html(ProposalDate.toLocaleDateString("es-CL"));
                        $("#ProposalCopy").html("<a id='ProposalCopy1'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a>");
                        $("#ProposalCopy1").attr({ "href": data[0].ProposalCopy, "target": "_blank" });
                        $("#ProposedBy").html(data[0].ProposedBy);
                        $("#ProjectCost").html(data[0].ProjectCost);
                        $("#GSTAndOthers").html(data[0].GSTAndOthers);
                        $("#TenderNo").html(data[0].TenderNo);
                        $("#TenderDate").html(TenderDate.toLocaleDateString("es-CL"));
                        $("#WorkOrderNo").html(data[0].WorkOrderNo);
                        $("#WorkOrderDate").html(WorkOrderDate.toLocaleDateString("es-CL"));
                        $("#WorkOrderCopy").html("<a id='WorkOrderCopy1'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a>");
                        $("#WorkOrderCopy1").attr({ "href": data[0].WorkOrderCopy, "target": "_blank" });
                        //$("#WorkOrderCopy").html(data[0].WorkOrderCopy);
                        $("#RunningStatus").html(data[0].RunningStatus);
                        $("#FinalStatus").html(data[0].FinalStatus);
                        $("#ProjectStartDate").html(ProjectStartDate.toLocaleDateString("es-CL"));
                        $("#ProjectCompletionDate").html(ProjectCompletionDate.toLocaleDateString("es-CL"));
                        var metting = data[0].Stageid;
                        //********************** data of the Project Metting goerning **************** //
                        if (metting != 0) {
                            var MettingDate = new Date(parseInt(data[0].mettings[0].MettingDate.substr(6)));
                            var Attendancedate = new Date(parseInt(data[0].mettings[0].Attendancedate.substr(6)));
                            $("#MettingDate").html(MettingDate.toLocaleDateString("es-CL"));
                            $("#Attendancedate").html(Attendancedate.toLocaleDateString("es-CL"));
                            $("#MeetingNo").html(data[0].mettings[0].MeetingNo);
                            $("#MinutesofMeeting").html(data[0].mettings[0].MinutesofMeeting);
                            $("#MinutesofMeetingfile").html("<a id='MinutesofMeetingfile1'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a>");
                            $("#MinutesofMeetingfile1").attr({ "href": data[0].mettings[0].MinutesofMeetingfile, "target": "_blank" });
                            //$("#MinutesofMeetingfile").html(data[0].mettings[0].MinutesofMeetingfile);
                            $("#Memberattendancefile").html("<a id='Memberattendancefile1'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a>");
                            $("#Memberattendancefile1").attr({ "href": data[0].mettings[0].Memberattendancefile, "target": "_blank" });
                            //$("#Memberattendancefile").html(data[0].mettings[0].Memberattendancefile);
                            $("#Approvelletterfile").html("<a id='Approvelletterfile1'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a>");
                            $("#Approvelletterfile1").attr({ "href": data[0].mettings[0].Approvelletterfile, "target": "_blank" });
                            //$("#Approvelletterfile").html(data[0].mettings[0].Approvelletterfile);
                            $("#Status").html(data[0].mettings[0].Status);
                            $("#Memberlist").html(data[0].mettings[0].Memberlist);
                            $("#Remark").html(data[0].mettings[0].Remark);
                            $("#MANAGEMENTTABLE").show();
                        }
                        else {
                            $("#MANAGEMENTTABLE").hide();

                        }
                        if (metting != 0 && metting != 1) {
                            var MettingDate = new Date(parseInt(data[0].mettings[1].MettingDate.substr(6)));
                            var Attendancedate = new Date(parseInt(data[0].mettings[1].Attendancedate.substr(6)));
                            $("#MettingDate1").html(MettingDate.toLocaleDateString("es-CL"));
                            $("#Attendancedate1").html(Attendancedate.toLocaleDateString("es-CL"));
                            $("#MeetingNo1").html(data[0].mettings[1].MeetingNo);
                            $("#MinutesofMeeting1").html(data[0].mettings[1].MinutesofMeeting);
                            $("#MinutesofMeetingfilee").html("<a id='MinutesofMeetingfile2'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a>");
                            $("#MinutesofMeetingfile2").attr({ "href": data[0].mettings[1].MinutesofMeetingfile, "target": "_blank" });
                            //$("#MinutesofMeetingfile").html(data[0].mettings[1].MinutesofMeetingfile);
                            $("#Memberattendancefilee").html("<a id='Memberattendancefile2'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a>");
                            $("#Memberattendancefile2").attr({ "href": data[0].mettings[1].Memberattendancefile, "target": "_blank" });
                            //$("#Memberattendancefile").html(data[0].mettings[1].Memberattendancefile);
                            $("#Approvelletterfilee").html("<a id='Approvelletterfile2'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a>");
                            $("#Approvelletterfile2").attr({ "href": data[0].mettings[1].Approvelletterfile, "target": "_blank" });
                            //$("#Approvelletterfile").html(data[0].mettings[1].Approvelletterfile);
                            $("#Status1").html(data[0].mettings[1].Status);
                            $("#Memberlist1").html(data[0].mettings[1].Memberlist);
                            $("#Remark1").html(data[0].mettings[1].Remark);
                            $("#Governingtable").show();
                        }
                        else {
                            $("#Governingtable").hide();

                        }
                        //********************** data of the PFund release **************** //

                        var html = "";
                        if (data[0].milestones.length != 0) {


                            for (var i = 0; i < data[0].milestones.length; i++) {
                                if ($.trim(data[0].milestones[0].InstallmentName != "")) {

                                    html += "<tr>";
                                    html += "<td>" + data[0].milestones[i].InstallmentName + "</td>";
                                    html += "<td>" + data[0].milestones[i].Instext + "</td>";
                                    html += "<td>" + data[0].milestones[i].InsPercentage + "</td>";
                                    if (data[0].milestones[i].IsFundReleased == true) {

                                        html += "<td>YES</td>";
                                    }
                                    else {
                                        html += "<td>NO</td>";

                                    }
                                    if (data[0].milestones[i].IsPhProgressDone == true) {

                                        html += "<td>YES</td>";
                                    }
                                    else {
                                        html += "<td>NO</td>";

                                    }
                                    if (data[0].milestones[i].IsUtilizationUploaded == true) {

                                        html += "<td>YES</td>";
                                    }
                                    else {
                                        html += "<td>NO</td>";

                                    }
                                    if (data[0].milestones[i].IsInspectionDone == true) {

                                        html += "<td>YES</td>";
                                    }
                                    else {
                                        html += "<td>NO</td>";


                                    }
                                    html += "</tr>";
                                    $("#tblMileStone").show();
                                    $("#tbodyMilestone").html(html);

                                }
                                else {

                                    $("#tblMileStone").hide();
                                    $("#tbodyMilestone").html('');

                                }
                            }
                            var Fund = "";
                            if (data[0].Funds.length > 0) {
                                for (var i = 0; i < data[0].Funds.length; i++) {
                                    if ($.trim(data[0].Funds[0].InstallmentName != "")) {
                                        var RelaeseDate = new Date(parseInt(data[0].Funds[i].RelaeseDate.substr(6)));
                                        Fund += "<tr>";
                                        Fund += "<td>" + data[0].Funds[i].InstallmentName + "</td>";
                                        Fund += "<td>" + data[0].Funds[i].ReleaseAmount + "</td>";
                                        Fund += "<td>" + RelaeseDate.toLocaleDateString("es-CL") + "</td>";
                                        Fund += "<td><a href=" + data[0].Funds[i].FundReleaseCopy + " target='_blank'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a></td>";
                                        if (data[0].Funds[i].IsPhProgressDone == true) {

                                            Fund += "<td>YES</td>";
                                        }
                                        else {
                                            Fund += "<td>NO</td>";

                                        }
                                        if (data[0].Funds[i].IsUtilizationUploaded == true) {

                                            Fund += "<td>YES</td>";
                                        }
                                        else {
                                            Fund += "<td>NO</td>";

                                        }
                                        if (data[0].Funds[i].IsInspectionDone == true) {

                                            Fund += "<td>YES</td>";
                                        }
                                        else {
                                            Fund += "<td>NO</td>";


                                        }
                                        Fund += "</tr>";
                                        $("#tblFund").show();
                                        $("#tbodyFund").html(Fund);

                                    }
                                    else {

                                        $("#tblFund").hide();
                                        $("#tbodyFund").html('');

                                    }
                                }
                            }
                            else {
                                $("#tblFund").hide();
                                $("#tbodyFund").html('');
                            }
                          
                            //********************** data of the Physical Progress **************** //

                            var progress = "";
                            if (data[0].Progress.length > 0) {
                                for (var i = 0; i < data[0].Progress.length; i++) {
                                    if (data[0].Progress.length > 0) {
                                        var PhysicalProgressDate = new Date(parseInt(data[0].Progress[i].PhysicalProgressDate.substr(6)));
                                        progress += "<tr>";
                                        progress += "<td>" + data[0].Progress[i].InstallmentName + "</td>";
                                        progress += "<td>" + data[0].Progress[i].AmountSpend + "</td>";
                                        progress += "<td>" + PhysicalProgressDate.toLocaleDateString("es-CL") + "</td>";
                                        progress += "<td>" + data[0].Progress[i].PhysicalPInPer + "</td>";
                                        progress += "<td><a href=" + data[0].Progress[i].PhysicalProgressCopy + " target='_blank'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a></td>";
                                        progress += "<td><a href=" + data[0].Progress[i].PhysicalProgressImages + " target='_blank'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a></td>";


                                        if (data[0].Progress[i].IsUtilizationUploaded == true) {

                                            progress += "<td>YES</td>";
                                        }
                                        else {
                                            progress += "<td>NO</td>";

                                        }
                                        if (data[0].Progress[i].IsInspectionDone == true) {

                                            progress += "<td>YES</td>";
                                        }
                                        else {
                                            progress += "<td>NO</td>";
                                        }
                                        if (data[0].Progress[i].ProgressStatus == 1) {

                                            progress += "<td style='color:Green;font-weight:bold'>InProcess</td>";
                                        }
                                        else if (data[0].Progress[i].ProgressStatus == 2) {
                                            progress += "<td  style='color:Green;font-weight:bold'>Completed</td>";
                                        }
                                        else {
                                            progress += "<td  style='color:red;font-weight:bold'>Stucked</td>";
                                        }
                                        //progress += "<td>" + data[0].Progress[i].ProgressStatus + "</td>";

                                        progress += "<td>" + data[0].Progress[i].Remark + "</td>";
                                        progress += "</tr>";
                                        $("#tblProgress").show();
                                        $("#tbodyProgress").html(progress);

                                    }
                                    else {

                                        $("#tblProgress").hide();
                                        $("#tbodyProgress").html('');

                                    }
                                }

                            }
                            else {
                                $("#tblProgress").hide();
                                $("#tbodyProgress").html('');


                            }
                            //********************** data of the UC **************** //


                            var uc = "";
                            if (data[0].Utilizations.length > 0) {
                                for (var i = 0; i < data[0].Utilizations.length; i++) {
                                    if (data[0].Utilizations.length > 0) {
                                        var UtilizationDate = new Date(parseInt(data[0].Utilizations[i].UtilizationDate.substr(6)));
                                        uc += "<tr>";
                                        uc += "<td>" + data[0].Utilizations[i].InstallmentName + "</td>";
                                        uc += "<td>" + data[0].Utilizations[i].UtilizationNo + "</td>";
                                        uc += "<td>" + UtilizationDate.toLocaleDateString("es-CL") + "</td>";
                                        uc += "<td><a href=" + data[0].Utilizations[i].UtilizationCopy + " target='_blank'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a></td>";

                                        uc += "<td>" + data[0].Utilizations[i].UC_Against_ReleaseAmount + "</td>";
                                        uc += "<td>" + data[0].Utilizations[i].Remarks + "</td>";
                                        uc += "</tr>";
                                        $("#tblUtilizations").show();
                                        $("#tbodyUtilizations").html(uc);

                                    }
                                    else {
                                        $("#tblUtilizations").hide();
                                        $("#tbodyUtilizations").html('');

                                    }
                                }

                            }
                            else {
                                $("#tblUtilizations").hide();
                                $("#tbodyUtilizations").html('');
                            }
                            //********************** data of the Inspection**************** //

                            var inspect = "";
                            if (data[0].Inspections.length > 0) {
                                for (var i = 0; i < data[0].Inspections.length; i++) {
                                    if (data[0].Inspections.length > 0) {
                                        var InspectionDate = new Date(parseInt(data[0].Inspections[i].InspectionDate.substr(6)));
                                        inspect += "<tr>";
                                        inspect += "<td>" + data[0].Inspections[i].InstallmentName + "</td>";
                                        inspect += "<td>" + InspectionDate.toLocaleDateString("es-CL").replace("01-01-1", " ") + "</td>";
                                        inspect += "<td>" + data[0].Inspections[i].InspectionQuestion + "</td>";
                                        inspect += "<td>" + data[0].Inspections[i].InspectionAnswer + "</td>";
                                        if (data[0].Inspections[i].InspectionCopy) {
                                            inspect += "<td><a href=" + data[0].Inspections[i].InspectionCopy + " target='_blank'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a></td>";
                                        }
                                        else {
                                            inspect += "<td></td>";

                                        }
                                        if (data[0].Inspections[i].InspectionImage1) {
                                            inspect += "<td><a href=" + data[0].Inspections[i].InspectionImage1 + " target='_blank'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a><a href=" + data[0].Inspections[i].InspectionImage2 + " target='_blank'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a><a href=" + data[0].Inspections[i].InspectionImage3 + " target='_blank'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a><a href=" + data[0].Inspections[i].InspectionImage4 + " target='_blank'><img src='/Documents/UsersDocs/Update_Attachment_8-2023-15-06--00-01-59.png'  height='20px' width='20px'/></a></td>";
                                        }
                                        else {
                                            inspect += "<td></td>";
                                        }
                                        inspect += "<td>" + data[0].Inspections[i].Remark + "</td>";
                                        inspect += "</tr>";
                                        $("#tblInspections").show();
                                        $("#tbodyInspections").html(inspect);

                                    }
                                    else {

                                        $("#tblInspections").hide();
                                        $("#tbodyInspections").html('');

                                    }
                                }

                            }
                            else {
                                $("#tblInspections").hide();
                                $("#tbodyInspections").html('');
                            }
                        }
                        else {
                            $("#tblMileStone").hide();
                            $("#tbodyMilestone").html('');
                            $("#tblFund").hide();
                            $("#tbodyFund").html('');
                            $("#tblProgress").hide();
                            $("#tbodyProgress").html(progress);
                            $("#tblUtilizations").hide();
                            $("#tbodyUtilizations").html('');
                            $("#tblInspections").hide();
                            $("#tbodyInspections").html('');
                        }
                        $("#exampleModal3").modal('show');
                    }
                }
            })
        }
    </script>
}