@using DMFProjectFinal.Models
@using DMFProjectFinal.Models.DTO
@using DMFProjectFinal.Controllers
@{
    ViewBag.Title = "SectorWiseSanctonAndProjectList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var AM = ViewBag.GetAccess as AccessManager;
    int j = 0;
    dfm_dbEntities db = new dfm_dbEntities();
    var data = ViewBag.Data;
}

<div class="row">
    <div class="card">
        <div class="card-header mt-10">
                @data[0].DistrictName - Project Status
        </div>
        <div class="card-body">
            <div class="col-md-12">
                <table class="table table-bordered table-striped" id="datatableproject">
                    <thead style="background-color: #083853;color:white">
                        <tr>
                            <th>S.NO</th>
                            <th>Sector Name</th>
                            <th>Sanctioned Amount</th>
                            <th>Expenditure Amount </th>
                            <th>Total Projects</th>
                            <th>Completed Projects</th>
                            <th>InProgress</th>
                        </tr>
                    </thead>
                    @if (ViewBag.Data != null)
                    {
                        <tbody>
                            @foreach (DTO_SanctionCostAndProjectDetails item in ViewBag.Data)
                            {
                                j++;
                                <tr>
                                    <td>@j</td>
                                    <td><a style="color:blue" href="/Report/GetPDetailSectorWiseList?DistrictId=@item.DistrictId&&SectorID=@item.SectorID">@item.SectorName</a></td>
                                    <td>@item.SanctionedProjectCost</td>
                                    <td>@item.AmountSpend</td>
                                    <td>@item.Total_Project</td>
                                    <td>@item.CompletedProject</td>
                                    <td>@item.InProgressProject</td>
                                </tr>
                            }
                        </tbody>
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">No data Found</td>
                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatableproject').DataTable({
                lengthMenu: [[25, 50, -1], [25, 50, "All"]],
            });
        });
    </script>
}