@using DMFProjectFinal.Controllers
@using DMFProjectFinal.Models
@model DMFProjectFinal.Models.DTO.DTO_FundRelease

@{
    ViewBag.Title = "Create Fund Release";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    span{
        float:left;
        padding:3px;
    }
</style>
<div class="card-header">
    @if (String.IsNullOrEmpty(Model.FundReleaseID))
    {
    <h4 class="card-title">Release Fund</h4>
    }
    else
    {
<h4 class="card-title">Update Fund</h4>
    }
</div>
<div id="divform">
    <div class="card-body">
        @using (Html.BeginForm((String.IsNullOrEmpty(Model.FundReleaseID) ? "CreateFundRelease" : "EditReleasedFund"), "FundRelease", new { }, FormMethod.Post, new { @role = "form", @id = "frmCurrent", enctype = "multipart/form-data" }))
        {
            <div class="row">
                @Html.HiddenFor(x => x.FundReleaseID)
                @Html.HiddenFor(x => x.DistrictID)
                @Html.HiddenFor(x => x.ProjectPreparationID,new { @id= "ProjectPreparationID" })

                <div class="col-md-4">
                    <div class="form-label">
                        <strong>Select Project<sup><code>*</code></sup></strong>
                        @if (!String.IsNullOrEmpty(Model.ProjectNo))
                        {
                            @Html.DropDownListFor(x => x.ProjectNo, ViewBag.ProjectID as SelectList, "-Select Project-", new { @class = "form-control form-control-sm", @autocomplete = "off", @onchange = "GetMilestone()" ,@disabled="disabled"})
                        }
                        else
                        {
                            @Html.DropDownListFor(x => x.ProjectNo, ViewBag.ProjectID as SelectList, "-Select Project-", new { @class = "form-control form-control-sm", @autocomplete = "off", @onchange = "GetMilestone()" })

                        }
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-label">
                        <strong>Select Installment<sup><code>*</code></sup></strong>
                        @if (String.IsNullOrEmpty(Model.FundReleaseID))
                        {

                            @Html.DropDownListFor(x => x.InstallmentID,Enumerable.Empty<SelectListItem>(), "-Select Installment-", new { @class = "form-control form-control-sm", @autocomplete = "off" })
                        }
                        else
                        {
                            @Html.DropDownListFor(x => x.InstallmentID, ViewBag.InstallmentID as SelectList, Model.InstallmentName, new { @class = "form-control form-control-sm", @autocomplete = "off" })

                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-label">
                        <strong>Release Amount<sup><code>*</code></sup></strong>
                        @Html.TextBoxFor(x => x.ReleaseAmount, new { @class = "form-control form-control-sm", @autocomplete = "off" })
                    </div>
                </div>

                @*<div id="details" style="display:none;background-color:lightgray;font-size:12px">
                    <span id="ProjectName"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="SectorName"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="SectorType"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="SenctionedProjectCost"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="milestonePercentage"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="ProposedBy"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="ProposalNo"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="ReleaseAmount"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <span id="InstallmentName"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                </div><br />*@

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-label">
                        <strong>Release Date<sup><code>*</code></sup></strong>
                        @Html.TextBoxFor(x => x.RelaeseDate, new { @class = "form-control form-control-sm ui-date", @autocomplete = "off" })
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-label">
                        <strong>
                            Attached Copy<sup><code>*</code></sup>
                            @if (!String.IsNullOrEmpty(Model.FundReleaseCopy))
                            {
                                <a href="@Model.FundReleaseCopy" target="_blank">View Doc</a>
                                <input type="hidden" value="prev" id="FundReleaseCopy" name="FundReleaseCopy" />
                            }
                        </strong>

                        @Html.TextBoxFor(x => x.FundReleaseCopy, new { @class = "form-control form-control-sm file-upload", @autocomplete = "off", @type = "file", @refid = "FundReleaseCopy" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1">
                    <div class="form-label">
                        <strong>&nbsp;</strong>
                        <input type="submit" id="btnSubmit" value="@(String.IsNullOrEmpty(Model.FundReleaseID)?"Save":"Update")" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-label">
                        <strong>&nbsp;</strong>
                        @if (String.IsNullOrEmpty(Model.FundReleaseID))
                        {
                            <input type="reset" id="btnReset" class="btn btn-danger" value="Reset" />
                        }
                        else
                        {
                            <a href="/FundRelease/ReleaseFund" class="btn btn-danger">Back</a>
                            //href = "/UserManagement/UserRegistration"

                        }
                    </div>
                </div>
            </div>
            <div class="row" style="display:none" id="MileStoneTable">
                <div class="col-md-12">
                <h6 style="text-align:center">Project Milestone</h6>
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>District Name</th>
                            <th>Project Name</th>
                            <th>Approved Amt</th>
                            <th>MileStone Values</th>
                            <th>Milestone (%)</th>
                            <th>Milestone AMT</th>
                            <th>Installment</th>
                            <th>Fund Released</th>
                            <th>Physical Progress</th>
                            <th>Utilization Uploaded</th>
                            <th>Inspection Done</th>

                        </tr>
                        <tbody id="MIlestone">
                        </tbody>
                    </table>
                </div>
            </div>
            @*if (!String.IsNullOrEmpty(Model.FundReleaseID))
            {
                <div class="row" id="DetailsRow">
                    <h6>Released Installment Details:-</h6>
                    <table class="table center-aligned-table">
                        <tr>
                            <th>Project Name</th>
                            <th>Sector Type</th>
                            <th>Sector Name</th>
                            <th>Released Date</th>
                            <th>Sanction Amount</th>
                            <th>Released Amount</th>
                            <th>Balance Amount</th>
                            <th>Installment Name</th>
                        </tr>
                        <tbody id="ReleaseinstallmentData"></tbody>
                    </table>
                </div>

            }
            else
            {
                <div class="row" style="display:none" id="DetailsRow">
                    <h6>Released Installment Details:-</h6>
                    <table class="table center-aligned-table">
                        <tr>
                            <th>Project Name</th>
                            <th>Sector Type</th>
                            <th>Sector Name</th>
                            <th>Released Date</th>
                            <th>Sanctioned Amount</th>
                            <th>Release Amount</th>
                            <th>balance Amount</th>
                            <th>Installment Name</th>
                        </tr>
                        <tbody id="ReleaseinstallmentData"></tbody>
                    </table>
                </div>
            }*@
        }
    </div>
</div>
 
@*<script>
    //function GetFundDetails() {
    //    GetProjectDetails()
    //    $("#DetailsRow").show();
    //        var DistrictID = $("#DistrictID").val();
    //        var ProjectNo = $("#ProjectNo").val();
    //        debugger
    //        $.ajax({
    //            url: "/FundRelease/GetProjectAndInstallmentDetails",
    //            type: "POST",
    //            contentType: "Application/json;charset=utf-8;",
    //            dataType: "json",
    //            data: JSON.stringify({ DistrictID: DistrictID, ProjectNo: ProjectNo }),
    //            success: function (data) {
    //                //alert("done");
    //                    var html = "";
    //                if (data.length > 0) {
    //                    for (var i = 0; i < data.length; i++) {
    //                        html += "<tr>";
    //                        var ReleaseDateFormat = new Date(parseInt(data[i].RelaeseDate.substr(6)));
    //                        html += "<td>" + data[i].ProjectName + "</td>";
    //                        html += "<td>" + data[i].SectorType + "</td>";
    //                        html += "<td>" + data[i].SectorName + "</td>";
    //                        html += "<td>" + ReleaseDateFormat.toLocaleDateString("es-CL") + "</td>";
    //                        html += "<td>" + data[i].SanctionedProjectCost + "</td>";
    //                        html += "<td style='color:green;font-weight:bold'>Rs." + data[i].ReleaseAmount + "</td>";
    //                        var balance = data[i].SanctionedProjectCost - data[i].ReleaseAmount;
    //                        for (var j = 0; j < i; j++) {
    //                            balance -= data[j].ReleaseAmount;
    //                        }

    //                        html += "<td>" + balance + "</td>";
    //                        html += "<td>" + data[i].InstallmentName + "</td>";
    //                        html += "<tr>";
    //                        html += "</tr>";
    //                    }
    //                    $("#ReleaseinstallmentData").html(html);
    //                }
    //                else {
    //                    html += "<tr>";
    //                    html += "<td colspan='6' style='text-align:center;font-size:15px'>No fund released for this project</td>";
    //                    html += "</tr>";
    //                    $("#ReleaseinstallmentData").html(html);
    //                }
                  
    //            }
    //        })
    //    }
   
</script>*@
<script>
    function GetProjectDetails() {
        var DistrictID = $("#DistrictID").val();
        var ProjectPreparationID = $("#ProjectPreparationID").val();
        $.ajax({
            url: "/FundRelease/GetProjectDetails",
            type: "POST",
            contentType: "Application/json;charset=utf-8;",
            dataType: "json",
            data: JSON.stringify({ DistrictID: DistrictID, ProjectPreparationID: ProjectPreparationID }),
            success: function (data) {
                //alert("done");
                $("#ProjectName").html("Project Name : <b>" + data[0].ProjectName + "</b>");
                $("#SectorName").html("Sector Name: <b>" + data[0].SectorName + "</b>");
                $("#SectorType").html("Sector Type: <b>" + data[0].SectorType + "</b>");
                $("#SenctionedProjectCost").html("Section project Cost : <b style='color:green'> " + data[0].SanctionedProjectCost + "</b>");
                $("#ProposalNo").html("Proposal No: <b>" + data[0].ProsposalNo + "</b>");
                $("#ProposedBy").html("Proposed By: <b>" + data[0].ProposedBy + "</b>");
                $("#ReleaseAmount").html("Release Amount: <b>" + data[0].ReleaseAmount + "</b>");
                //$("#InstallmentName").html("Installment Name: <b>" + data[0].InstallmentName + "</b>");
                $("#details").show();
            }
        })
    }
</script>
<script>
    function BindInstallment() {
        //GetProjectDetails()
        var DistrictID = $("#DistrictID").val();
        var ProjectPreparationID = $("#ProjectPreparationID").val();
        $.ajax({
            url: "/FundRelease/BindInstallment",
            type: "POST",
            contentType: "application/json;charset=utf-8;",
            dataType: "json",
            data: JSON.stringify({ DistrictID: DistrictID, ProjectPreparationID: ProjectPreparationID }),
            success: function (data) {
                $("#InstallmentID").empty();
                //$("#InstallmentID").append("<option value='0'>Select Installment</option>");
                    $("#InstallmentID").append("<option value=" + data.InstallmentID + ">" + data.InstallmentName + "</option>");
                //for (var i = 0; i < data.length; i++) {
                //}
            }
        })
    }
</script>
<script>
    function GetMilestone() {
        BindInstallment();
        $("#ReleaseAmount").val('');
        $("#RelaeseDate").val('');
        $("#TmpFundReleaseCopy").val('');
        var DistrictID = $("#DistrictID").val();
        var ProjectPreparationID = $("#ProjectPreparationID").val();
        if (ProjectNo != "") {
            $("#MileStoneTable").show();
        }
        else {
            $("#MileStoneTable").hide();
        }
        $.ajax({
            url: "/FundRelease/MileStoneByProject",
            type: "POST",
            contentType: "application/json;charset=utf-8;",
            dataType: "json",
            data: JSON.stringify({ DistrictID: DistrictID, ProjectPreparationID: ProjectPreparationID }),
            success: function (data) {
                if ($.trim(data) != "") {
                var html = "";
                // Output district name, project name, and project cost only once
                html += "<tr>";
                html += "<td rowspan='" + (data.length * 4) + "'>" + data[0].Districtname + "</td>";
                html += "<td rowspan='" + (data.length * 4) + "'>" + data[0].ProjectName + "</td>";
                html += "<td rowspan='" + (data.length * 4) + "'>" + data[0].SanctionedProjectCost + "</td>";
                html += "</tr>";
                // Output milestone details for each milestone
                for (var i = 0; i < data.length; i++) {
                    html += "<tr>";
                    html += "<td>" + data[i].Instext + "</td>";
                    html += "<td>" + data[i].InsPercentage + "</td>";
                    var releaseamt = (parseFloat(data[0].SanctionedProjectCost) * parseFloat(data[i].InsPercentage) / 100)
                    html += "<td>" + releaseamt + "</td>";
                    html += "<td>" + data[i].InstallmentName + "</td>";
                    if (data[i].IsFundReleased == true) {

                        html += "<td>YES</td>";
                    }
                    else {
                        html += "<td>NO</td>";

                    }
                    if (data[i].IsPhProgressDone == true) {

                        html += "<td>YES</td>";
                    }
                    else {
                        html += "<td>NO</td>";

                    }
                    if (data[i].IsUtilizationUploaded == true) {

                        html += "<td>YES</td>";
                    }
                    else {
                        html += "<td>NO</td>";

                    }
                    if (data[i].IsInspectionDone == true) {

                        html += "<td>YES</td>";
                    }
                    else {
                        html += "<td>NO</td>";

                    }
                    html += "</tr>";
                }
                $("#MIlestone").html(html);
                }

                else {
                    $("#MIlestone").html("<tr><td colspan='7' style='text-align:center'>No data found.</td></tr>");
                    //$("#exampleModal").show();
                }
            }
        })
    }

</script>
@*<script>
    function GetMilestone() {
        debugger
        var DistrictID = $("#DistrictID").val();
        var ProjectNo = $("#ProjectNo").val();
        $.ajax({
            url: "/FundRelease/MileStoneByProject",
            type: "POST",
            contentType: "application/json;charset=utf-8;",
            dataType: "json",
            data: JSON.stringify({ DistrictID: DistrictID, ProjectNo: ProjectNo }),
            success: function (data) {

                var html = "";
                for (var i = 0; i < data.length; i++) {
                    html += "<tr>";
                    html += "<td rowspan='4'>" + data[0].Districtname + "</td>";
                    html += "<td rowspan='4'>" + data[0].ProjectName + "</td>";
                    html += "<td rowspan='4'>" + data[0].SanctionedProjectCost + "</td>";
                    html += "<td>" + data[i].Instext + "</td>";
                    html += "<td>" + data[i].InsPercentage + "</td>";
                    html += "<td>" + data[i].InstallmentName + "</td>";
                    html += "<td>" + data[i].IsFundReleased + "</td>";
                    html += "<td>" + data[i].IsPhProgressDone + "</td>";
                    html += "<td>" + data[i].IsUtilizationUploaded + "</td>";
                    html += "<td>" + data[i].IsInspectionDone + "</td>";
                    html += "</tr>";
                }
                $("#MIlestone").html(html);
                console.log(data);
                //var releaseamt = (parseFloat(data[0].SanctionedProjectCost) * parseFloat(data[0].InsPercentage) / 100)
                //$("#ReleaseAmount").val(releaseamt);
                //$("#milestonePercentage").html("MileStone(%) :<b>" + data[0].InsPercentage + "<br/>")
                //$("#InstallmentName").html("Installment Name :<b>" + data[0].InstallmentName + "<br/>")

            }
        })

    }
</script>*@
@*<script>
    function GetMilestone() {
        debugger
        var InstallmentID = $("#InstallmentID").val();
        var DistrictID = $("#DistrictID").val();
        var ProjectNo = $("#ProjectNo").val();
        $.ajax({
            url: "/FundRelease/MileStoneByInstallment",
            type: "POST",
            contentType: "application/json;charset=utf-8;",
            dataType: "json",
            data: JSON.stringify({ DistrictID: DistrictID, ProjectNo: ProjectNo, InstallmentID: InstallmentID }),
            success: function (data) {
                console.log(data);
                var releaseamt = (parseFloat(data[0].SanctionedProjectCost) * parseFloat(data[0].InsPercentage)/100)
                $("#ReleaseAmount").val(releaseamt);
                $("#milestonePercentage").html("MileStone(%) :<b>" + data[0].InsPercentage + "<br/>")
                $("#InstallmentName").html("Installment Name :<b>" + data[0].InstallmentName + "<br/>")

            }
        })

    }
</script>*@

@section scripts{
    <script>
        $(document).ready(function () {
            var id = $("#FundReleaseID").val();
            if (id != "" || id != null || id != 0) {
                GetProjectDetails()
                GetMilestone();
            }
        });
    </script>
}