@using DMFProjectFinal.Controllers
@using DMFProjectFinal.Models
@model DMFProjectFinal.Models.DTO.DTO_InspectionMaster
@{ ViewBag.Title = "CreateInspection";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<div class="card-header">
    @if (String.IsNullOrEmpty(Model.InspectionID))
    {
<h4 class="card-title">Create Inspection</h4> }
            else
            {
<h4 class="card-title">Update Inspection</h4>}
</div>


<div id="divform">
    <div class="card-body">
        @using (Html.BeginForm("", "", new { }, FormMethod.Post, new { @role = "form", @id = "frmCurrent", enctype = "multipart/form-data" }))
        {
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <th colspan="8" style="text-align:center">MileStone Details</th>
            </tr>
            <tr>
                <th>MileStone Installment</th>
                <td id="ins"></td>
                <th>MileStone Value</th>
                <td id="MilestoneText"></td>
                <th>Mile Stone (%)</th>
                <td id="Mpercent"></td>
                <th>Milestone Amount</th>
                <td id="MileStoneAmount"></td>
            </tr>

        </table>
    </div>
</div>
                <div class="row">
                    @Html.HiddenFor(x => x.ProjectPreparationID, new { @id = "ProjectPreparationID" })
                    @Html.HiddenFor(x => x.InspectionID, new { @id = "InspectionID" })
                    @Html.HiddenFor(x => x.DistrictID, new { @id = "DistrictID" })

                    <div class="col-md-3">
                        <div class="form-label">
                            <strong>Select Project<sup><code>*</code></sup></strong>
                            @Html.HiddenFor(x => x.ProjectNo, new { @id="ProjectNo"})
                            @Html.DropDownListFor(x => x.ProjectNo, ViewBag.ProjectID as SelectList, "-Select Project-", new { @class = "form-control form-control-sm", @autocomplete = "off", @onchange = "GetMilestone()" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-label">
                            <strong>Inspection Date<sup><code>*</code></sup></strong>
                            @Html.TextBoxFor(x => x.InspectionDate, new { @class = "form-control form-control-sm ui-date", @autocomplete = "off" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-label">
                            <strong>Inspection Copy<sup><code>*</code></sup></strong>
                            @Html.TextBoxFor(x => x.InspectionCopy, new { @class = "form-control form-control-sm file-upload", @autocomplete = "off", @type = "file", @refid = "InspectionCopy" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-label">
                            <strong>Inspection Image 1<sup><code>*</code></sup></strong>
                            @Html.TextBoxFor(x => x.InspectionImage1, new { @class = "form-control form-control-sm file-upload", @autocomplete = "off", @type = "file", @refid = "InspectionImage1" })
                        </div>
                    </div>
                    <table class="table table-bordered" id="datatable1">
                        <thead>
                            <tr>

                                <th>Qustion</th>
                                <th>Answer</th>


                                <th style="display:none;"></th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>

                    </table>
                </div>
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-label">
                                            <strong>Inspection Image 2<sup><code>*</code></sup></strong>
                                            @Html.TextBoxFor(x => x.InspectionImage2, new { @class = "form-control form-control-sm file-upload", @autocomplete = "off", @type = "file", @refid = "InspectionImage2" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-label">
                                            <strong>Inspection Image 3<sup><code>*</code></sup></strong>
                                            @Html.TextBoxFor(x => x.InspectionImage3, new { @class = "form-control form-control-sm file-upload", @autocomplete = "off", @type = "file", @refid = "InspectionImage3" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-label">
                                            <strong>Inspection Image 4<sup><code>*</code></sup></strong>
                                            @Html.TextBoxFor(x => x.InspectionImage4, new { @class = "form-control form-control-sm file-upload", @autocomplete = "off", @type = "file", @refid = "InspectionImage4" })
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-label">
                                            <strong>Remark<sup><code>*</code></sup></strong>
                                            @Html.TextBoxFor(x => x.Remark, new { @class = "form-control form-control-sm", @autocomplete = "off", @type = "text" })
                                        </div>
                                    </div>
                                </div>
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <div class="form-label">
                                                            <strong>&nbsp;</strong>
                                                            @if (String.IsNullOrEmpty(Model.InspectionID))
                                                            {

                                            <input type="button" value="Save" class="btn btn-primary" onclick="SaveInspection()" id="btnsave" />}
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1">
                                                        <div class="form-label">
                                                            <strong>&nbsp;</strong>
                                                            @*@if (String.IsNullOrEmpty(Model.InspectionID))
                                                                {
                                                                    <input type="reset" id="btnReset" class="btn btn-danger" value="Reset" />
                                                                }
                                                                else
                                                                {
                                                                    <a href="/Inspection/ViewInspectionProject" class="btn btn-danger">Back</a>
                                                                    //href = "/UserManagement/UserRegistration"

                                                                }*@
                                                            <a href="/Inspection/ViewInspectionProject" class="btn btn-danger">Back</a>

                                                        </div>
                                                    </div>
                                                </div>}
    </div>
</div>
<div class="row" style="display:none" id="MileStoneTable">
    <div class="col-md-12">
        <h6 style="text-align:center">Project Milestone</h6>
        <table class="table table-bordered table-striped">
            <tr>
                <th>District Name</th>
                <th>Project Name</th>
                <th>Approved Amt</th>
                <th>MileStone Values</th>
                <th>Milestone (%)</th>
                <th>Milestone AMT</th>
                <th>Installment</th>
                <th>Fund Released</th>
                <th>Physical Progress</th>
                <th>Utilization Uploaded</th>
                <th>Inspection Done</th>

            </tr>
            <tbody id="MIlestone">
            </tbody>
        </table>
    </div>
</div>
<script>
    function bindqustion() {
        $.ajax({
            type: "POST",
            url: "/Inspection/listbindQustion",
            data: "{}",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                $("#datatable1 tbody").empty();
                var i = 1;
                $.each(data, function (key, value) {

                    $('#datatable1 tbody').append("<tr><td class='InspectionQuestion'>" + value.InspectionQuestion + "</td><td><input type='text'  class='form-control form-control-sm InspectionAnswer'></td><td style='display:none'><input type='hidden' class='InspectionQuestionID' value=" + value.InspectionCheckListQuestionID + "></td></tr > ")
                    i = i + 1;

                })


            }


        })



    }
</script>
<script>
    function SaveInspection() {
        var formData = new FormData();
        formData.append("DistrictID", $("#DistrictID").val())
        formData.append("ProjectPreparationID", $("#ProjectPreparationID").val())
        formData.append("ProjectNo", $("#ProjectNo").val())
        formData.append("InspectionDate", $("#InspectionDate").val())
        //formData.append('InspectionCopy', $("#InspectionCopy")[0].files[0]);
        formData.append('InspectionCopy', $("#InspectionCopy").val());
        formData.append('InspectionImage1', $("#InspectionImage1").val());
        formData.append('InspectionImage2', $("#InspectionImage2").val());
        formData.append('InspectionImage3', $("#InspectionImage3").val());
        formData.append('InspectionImage4', $("#InspectionImage4").val());
        formData.append('Remark', $("#Remark").val());
        //formData.append('InspectionImage1', $("#InspectionImage1")[0].files[0]);
        //formData.append('InspectionImage2', $("#InspectionImage2")[0].files[0]);
        //formData.append('InspectionImage3', $("#InspectionImage3")[0].files[0]);
        //formData.append('InspectionImage4', $("#InspectionImage4")[0].files[0]);

        $("#datatable1 tbody tr").each(function (index, element) {
            formData.append('lis[' + index + '].InspectionQuestion', $(element).find('.InspectionQuestion').text());
            formData.append('lis[' + index + '].InspectionAnswer', $(element).find('.InspectionAnswer').val());
            formData.append('lis[' + index + '].InspectionQuestionID', $(element).find('.InspectionQuestionID').val());
        });
        $.ajax({
            url: "/Inspection/CreateInspection",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data == "1") {
                    swal({
                        title: 'Good Job !',
                        text: 'Record Done Successfully !!',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    }).then(function () {
                        window.location.href = "/Inspection/InspectcionList";
                    });
                    //toastr.success("Inspection uploaded succesfully", "Success", { onHidden: function () { window.location.href = "/Inspection/InspectcionList" } });
                } else if (data == "0") {
                    swal("Error","Something went wrong please try later  !!", "error");
                } else {
                    swal(data, "Something went wrong please try later  !!", "Error");
                }
            },
            error: function (data) {
                swal("Error","Something went wrong please try later  !!", "error");
            }
        });
    }
</script>

@*<script>
        function GetMilestone() {
            var DistrictID = $("#DistrictID").val();
            var ProjectPreparationID = $("#ProjectPreparationID").val();
            if (ProjectNo != "") {
                $("#MileStoneTable").show();

            }
            else {
                $("#MileStoneTable").hide();

            }
            $.ajax({
                url: "/PhysicalProgress/MileStoneByProject",
                type: "POST",
                contentType: "application/json;charset=utf-8;",
                dataType: "json",
                data: JSON.stringify({ DistrictID: DistrictID, ProjectPreparationID: ProjectPreparationID }),
                success: function (data) {
                    if ($.trim(data) != "") {
                        var html = "";
                        // Output district name, project name, and project cost only once
                        html += "<tr>";
                        html += "<td rowspan='" + (data.length * 4) + "'>" + data[0].Districtname + "</td>";
                        html += "<td rowspan='" + (data.length * 4) + "'>" + data[0].ProjectName + "</td>";
                        html += "<td rowspan='" + (data.length * 4) + "'>" + data[0].SanctionedProjectCost + "</td>";
                        html += "</tr>";
                        // Output milestone details for each milestone
                        for (var i = 0; i < data.length; i++) {
                            html += "<tr>";
                            //html += "<td>" + data[i].Districtname + "</td>";
                            //html += "<td>" + data[i].ProjectName + "</td>";
                            //html += "<td>" + data[i].SanctionedProjectCost + "</td>";
                            html += "<td>" + data[i].Instext + "</td>";
                            html += "<td>" + data[i].InsPercentage + "</td>";
                            var releaseamt = (parseFloat(data[0].SanctionedProjectCost) * parseFloat(data[i].InsPercentage) / 100)
                            html += "<td>" + releaseamt + "</td>";
                            html += "<td>" + data[i].InstallmentName + "</td>";
                            if (data[i].IsFundReleased == true) {

                                html += "<td>YES</td>";
                            }
                            else {
                                html += "<td>NO</td>";

                            }
                            if (data[i].IsPhProgressDone == true) {

                                html += "<td>YES</td>";
                            }
                            else {
                                html += "<td>NO</td>";

                            }
                            if (data[i].IsUtilizationUploaded == true) {

                                html += "<td>YES</td>";
                            }
                            else {
                                html += "<td>NO</td>";

                            }
                            if (data[i].IsInspectionDone == true) {

                                html += "<td>YES</td>";
                            }
                            else {
                                html += "<td>NO</td>";

                            }
                            html += "</tr>";
                        }
                        $("#MIlestone").html(html);
                    }

                    else {
                        $("#MIlestone").html("<tr><td colspan='7' style='text-align:center'>No data found.</td></tr>");
                        //$("#exampleModal").show();
                    }
                }
            })
        }

    </script>*@
<script>
    //for above data on the Inspection  form
    function GetmilestoneDetailsforInstallment(ProjectPreparationID) {
        debugger
        $.ajax({
            url: "/Inspection/GetMilestoneByInstallment",
            type: "POST",
            contentType: "application/json;charset=utf-8;",
            dataType: "json",
            data: JSON.stringify({ ProjectPreparationID: ProjectPreparationID }),
            success: function (data) {
                if (data.InstallmentName != null) {
                    $("#ins").html(data.InstallmentName);
                    $("#MilestoneText").html(data.Instext);
                    $("#Mpercent").text(data.InsPercentage);
                    $("#MileStoneAmount").html(parseFloat(data.SanctionedProjectCost) * parseFloat(data.InsPercentage) / 100);
                }
            }
        })
    }
</script>
@section scripts{
    <script>
        $(document).ready(function () {
            var id = $("#ProjectPreparationID").val();
            if (id != "") {
                //GetMilestone();
                bindqustion();
                GetmilestoneDetailsforInstallment(id);
            }
        });
    </script>

}